@model List<IT.Core.ViewModels.SiteViewModel>
@{
    ViewBag.Title = "Custromer site List";

    List<IT.Core.ViewModels.SiteViewModel> siteViewModels = new List<IT.Core.ViewModels.SiteViewModel>();
    siteViewModels = Model as List<IT.Core.ViewModels.SiteViewModel>;
}

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <a class="btn btn-md btn-primary" href="/CustomerSites/Create">
                        <i class="fal fa-plus-circle"></i>  Create New <span class="fw-300"><i>Site</i></span>
                    </a>
                </h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <!--      <div class="panel-tag">
                                <p>Drivers Base Information</p>
                            </div>-->
                    <!-- datatable start -->
                    <table id="dt-basic-example1" class="table table-bordered table-hover table-striped w-100">
                        <thead class="bg-primary-600">
                            <tr>
                                <th>Site Name</th>
                                <th>Contact person</th>
                                <th>Contact person Mobile</th>
                                <th>Address</th>
                                <th>Created date</th>
                                <th>Created by</th>
                                <th>IsActive</th>
                                <th width="100px">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                           
                        </tbody>
                    </table>
                    <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="~/Scripts/CustomScript/FileUploadPreview.js"></script>
    <script>
        $(document).ready(function () {
            $("#RegisteredMenu").attr("aria-expanded", "true");
            $('#RegisteredUl').css('display', 'block');
            $('#RegisteredLi').addClass('active');
        });

    </script>

    <script>
        $(document).ready(function () {
          
            $("#dt-basic-example1").DataTable({
                "paging": true,
                "responsive": true,
                "processing": true,
                "searching": true,
                "serverSide": true, // for process server side
                "filter": false, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "/CustomerSites/All",
                    "type": "POST",
                    "datatype": "json"
                },

                "columns": [
                    //{ "data": "Id", "name": "Id", "autoWidth": true },// key for edit delete
                    { "data": "SiteName", "SiteName": "SiteName", "autoWidth": true },
                    { "data": "ContactPersonName", "ContactPersonName": "ContactPersonName", "autoWidth": true },
                    { "data": "ContactPhone", "ContactPhone": "ContactPhone", "autoWidth": true },
                    { "data": "Address", "Address": "Address", "autoWidth": true },
                    { "data": "CreatedDates", "CreatedDates": "CreatedDates", "autoWidth": true },
                    { "data": "UserName", "UserName": "UserName", "autoWidth": true },
                    {
                        render: function (data, type, row) {
                            if (row.IsActive == true) {
                                return '<div class="switchToggle"><input onclick="ChangeStatus(' + row.Id + ',' + false + ');" IsActive type="checkbox" data-value="' + row.Id + '" id="' + row.Id + '" checked><label for="' + row.Id + '">Toggle</label></div>'
                            }
                            else {
                                return '<div class="switchToggle"><input type="checkbox" onclick="ChangeStatus(' + row.Id + ',' + true + ');" class="IsActive" data-value="' + row.Id + '" id="' + row.Id + '"><label for="' + row.Id + '">Toggle</label></div>'
                            }

                        }
                    },
                    {
                        render: function (data, type, row) {

                            return '<div class="pull-right"><a href="/CustomerSites/Edit/' + row.Id + '" class="btn btn-primary btn-sm" data-id="Id" onclick="Edit(' + row.Id + ')"><i class="fal fa-pencil"></i></a>  <a href="/CustomerSites/Details/' + row.Id + '" class="btn btn-primary btn-sm" data-id="Id" onclick="Details(' + row.Id + ')"><i class="fal fa-eye"></i></a>';
                        }
                    }
                ]
            });
        });

       
        function ChangeStatus(Id, value) {

            if (confirm("Are you sure")) {

                var act = value;

                var Data = JSON.stringify(
                    {
                        IsActive: act,
                        Id: Id,
                    })
                // alert(Data);
                ajaxRequest("POST", "/CustomerSites/ChangeStatus", Data, "json").then(function (result) {
                    if (result != "failed") {
                        $('#dt-basic-example1').DataTable().ajax.reload();
                    }
                    else {
                        alert('there is some problem');
                    }
                })
            }
            else {
                $('#dt-basic-example1').DataTable().ajax.reload();
            }
        }
    </script>

}