@{
    IT.Core.ViewModels.UserCompanyViewModel userCompanyViewModel = new IT.Core.ViewModels.UserCompanyViewModel();
    var UserImage = "";
    if (Session["userCompanyViewModel"] != null)
    {
        userCompanyViewModel = Session["userCompanyViewModel"] as IT.Core.ViewModels.UserCompanyViewModel;
        UserImage = userCompanyViewModel.ImageUrl ?? userCompanyViewModel.LogoUrl;
    }
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aw Fuel - Diesel Trading Company</title>

    <!-- plugins -->
    <link href="~/assets/site/css/plugins/bundle.css" rel="stylesheet">
    <!--main css file-->
    <link href="~/assets/site/css/style.css" rel="stylesheet">
    <!-- <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">-->
    <link rel="icon" href="~/assets/staticImages/favicon.png" type="image/png" sizes="16x16">

</head>
<body>
    <div id="preloader">
        <div id="preloader-inner"></div>
    </div><!--/preloader-->
    <!--back to top-->
    <a href="#" class="scrollToTop"><i class="ion-ios-arrow-up"></i></a>
    <!--back to top end-->
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-lg navbar-light navbar-default fixed-top navbar-transparent">

        <div class="clearfix"></div>
        <div class="container-fluid">

            <!-- Start Top Search -->
            <div class="top-search clearfix">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Type and Press Enter to Search">
                    <span class="input-group-addon close-search"><i class="ion-android-close"></i></span>
                </div>



            </div><!-- End Top Search -->
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" href="/Home/Details">
                <img src="~/assets/site/images/logo-light-3-4.svg" width="180px" alt="" class="logo-scroll">
                <img src="~/assets/site/images/logo-light-3-4.svg" width="200px" alt="" class="logo-top">
            </a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item dropdown ">
                        <a class="nav-link" href="/Home/Details" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                            Home
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="http://awfuel.com/Home/Details#About" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                            Who we are ?
                        </a>

                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link" href="http://awfuel.com/Home/Details#whyChooseUs" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                            Why Choose Us ?
                        </a>

                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link" href="http://awfuel.com/Home/Details#Services" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                            What We Offer?
                        </a>

                    </li>

                    @if (userCompanyViewModel.CompanyId > 0)
                    {

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                @if (UserImage == null)
                                {
                                    <img src="http://awservices.somee.com/ClientDocument/1586859948awflogo-2.png" style="width:2.125rem; height:2.125rem; background-color:white" class="profile-image rounded-circle" alt="User Info">
                                }
                                else
                                {
                                    <img src="http://awservices.somee.com/ClientDocument/@UserImage" style="width:2.125rem; height:2.125rem; background-color:white; " class="profile-image rounded-circle" alt="User Info" />
                                }
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                @if (userCompanyViewModel.Authority == "Admin")
                                {
                                    <li><a class="dropdown-item" href="/Home/AdminHome"><b>Dashboard</b></a></li>
                                    <li><a class="dropdown-item" href="/Company/AdminCompanyInformation/@userCompanyViewModel.CompanyId">Company Setting</a></li>
                                    <li><a class="dropdown-item" href="/User/AdminUserInformation">Profile Setting</a></li>
                                    <li><a class="dropdown-item" href="/User/ChangePassword">Reset Password</a></li>
                                }
                                else
                                {
                                    <li><a class="dropdown-item" href="/Home/index"><b>Dashboard</b></a></li>
                                    <li><a class="dropdown-item" href="/Company/CompanyInformation/@userCompanyViewModel.CompanyId">Company Setting</a></li>
                                    <li><a class="dropdown-item" href="/User/UserInformation">Profile Setting</a></li>
                                    <li><a class="dropdown-item" href="/User/ChangeAdminPassword">Reset Password</a></li>
                                }
                                <li><a class="dropdown-item" href="/User/Logout">Logout</a></li>

                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item"><a href="/User/Registration" class="btn btn-rounded btn-primary nav-link">Become a customer</a></li>
                        <li class="nav-item"><a href="/User/Login" class="btn btn-rounded btn-primary nav-link">Sign In</a></li>
                    }

                </ul>
            </div>
            <!-- Start search Navigation -->
            <div class="search-nav float-right">
                <a href="javascript:void(0)"><i class="ion-search"></i></a>
            </div>
        </div>
    </nav><!--navbar end-->


    @RenderBody()


    <footer class="footer">
        <div class="space-50"></div>
        <div class="container">
            <div class="row vertical-align-child">
                <div class="col-md-5 margin-b-30">
                   
                    <p>
                        Find the cheapest fuel/diesel prices throughout the united arab emirates (UAE). <br />
                        Clever Combination - clever - cost - saving <br /> Diesel trading & transportation under one umbralla.
                    </p>
                </div>
                <div class="col-md-2 margin-b-30">
                    <ul class="list-unstyled">

                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="/Home/Policy">Privacy Policy</a></li>
                        <li><a href="/Home/Contact">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-2 margin-b-30">
                    <ul class="list-unstyled">
                        <li><a href="/Home/About">Who we are ?</a></li>
                        <li><a href="/Home/Products">Products</a></li>
                        <li><a href="/Home/BulkStorage">Bulk Storage</a></li>
                        <li><a href="/Home/FuelTransportation">FuelTransportation</a></li>

                    </ul>
                </div>
                <div class="col-md-3 margin-b-30">
                    <ul class="list-inline social">
                        <li class="list-inline-item"><a href="https://www.fb.com/awfueltrading/"><i class="ion-social-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="https://twitter.com/aw_fuel"><i class="ion-social-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ion-social-googleplus"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ion-social-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ion-social-rss"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ion-social-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <span><a href="https://itmolen.nl/">IT Molen</a> | &copy; Aw Fuel 2019 </span>
        </div>

        <div class="space-20"></div>
    </footer>
    <!-- jQuery plugins-->

    <script src="~/assets/site/js/plugins/plugins.js"></script>
    <script src="~/assets/site/js/template-custom.js" type="text/javascript"></script>

    <!-- Getbutton.io widget -->
    <script type="text/javascript">
        (function () {
            var options = {
                whatsapp: "+971 55 771 4620", // WhatsApp number
                //company_logo_url: "http://awfuel.com/assets/site/images/logo-light-3-4.svg", // URL of company logo (png, jpg, gif)
                // greeting_message: "Hillo, How can i help you with...", // Text of greeting message
                call_to_action: "Contact Us", // Call to action
                position: "left", // Position may be 'right' or 'left'
            };
            var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
        })();
    </script>
    <!-- /Getbutton.io widget -->
</body>
</html>

