<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>Sorry! Something went wrong, the system has been inform admin about problem, please try this section after some time.</h2>
    </hgroup>
</body>
</html>
