
    <div class="form-group mb-2">
        <label class="form-label">File Upload</label>
        <div class="custom-file">

            <input type="file"  name="FileUrl" class="custom-file-input" id="FileUrl">
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
    </div>
    <button type="submit" id="UploadSubmit" class="btn btn-primary btn-sm btn-block waves-effect waves-themed">
        Upload
        <span>Submit</span>
    </button>
