
@using System.Web.Mvc.Html
@{
    ViewBag.Title = "AW Fuel - Vehicles List";
}

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <a class="btn btn-md btn-primary" href="/AwfVehicle/Create">
                        <i class="fal fa-plus-circle"></i>  Add New <span class="fw-300"><i>Vehicle</i></span>
                    </a>
                </h2>

            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <!--      <div class="panel-tag">
                                <p>Drivers Base Information</p>
                            </div>-->
                    <!-- datatable start -->
                    <table id="dt-basic-example1" class="table table-bordered table-hover table-striped w-100">
                        <thead class="bg-primary-600">
                            <tr>
                                <th>Name</th>
                                <th>TraficPlateNumber</th>
                                <th>Place of Issue</th>
                                <th>TC Number</th>
                                <th>Model</th>
                                <th>Mulkia Expiry</th>
                                <th>Insurance Expiry</th>
                                <th>IsActive</th>
                                <th width="100px">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script src="~/Scripts/CustomScript/FileUploadPreview.js"></script>
    <script>

        $(document).ready(function () {

            $(".IsActive").click(function () {
                if (confirm("Are you sure")) {

                    var act = false;
                    if (this.checked) {
                        act = true;
                    }

                    var Data = JSON.stringify(
                        {
                            IsActive: act,
                            Id: $(this).data("value"),
                        })
                    // alert(Data);
                    ajaxRequest("POST", "/AWFVehicle/ChangeStatus", Data, "json").then(function (result) {
                        if (result != "failed") {
                            //console.log(result);
                            window.location.reload();
                        }
                        else {
                            alert('there is some problem');
                        }
                    })
                }
                else {
                    return false;
                }
            });
        });

    </script>

    <script>
        $(document).ready(function () {
            //alert();
            $("#VehicleMenu").attr("aria-expanded", "true");
            $('#VehicleUl').css('display', 'block');
            $('#VehicleLi').addClass('active');
        });

        $(function () {
            $("#dt-basic-example1").DataTable({
                "paging": true,
                "responsive": true,
                "processing": true,
                "searching": true,
                "serverSide": true, // for process server side
                "filter": false, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "/AwfVehicle/All",
                    "type": "POST",
                    "datatype": "json"
                },

                "columns": [
                    //{ "data": "Id", "name": "Id", "autoWidth": true },// key for edit delete
                    { "data": "VehicleTypeName", "VehicleTypeName": "Name", "autoWidth": true },
                    { "data": "TraficPlateNumber", "name": "TraficPlateNumber", "autoWidth": true },
                    { "data": "PlaceofIssue", "name": "PlaceofIssue", "autoWidth": true },
                    { "data": "TCNumber", "name": "TCNumber", "autoWidth": true },
                    { "data": "Model", "name": "Model", "autoWidth": true },
                    { "data": "MulkiaExpiry", "name": "MulkiaExpiry", "autoWidth": true },
                    { "data": "InsuranceExpiry", "name": "InsuranceExpiry", "autoWidth": true },
                    { "data": "IsActive", "name": "IsActive", "autoWidth": true },
                    {
                        render: function (data, type, row) {
                            return '<div class="pull-right"><a href="/AwfVehicle/Edit/' + row.Id + '" class="btn btn-primary btn-sm" data-id="Id" onclick="Edit(' + row.Id + ')"><i class="fal fa-pencil"></i></a>  <a href="/AwfVehicle/Details/' + row.Id + '" class="btn btn-primary btn-sm" data-id="Id" onclick="Details(' + row.Id + ')"><i class="fal fa-eye"></i></a>';
                        }
                    }
                ]
            });
        });


    </script>


}
