@model IT.Core.ViewModels.FuelPricesViewModel
@{
    ViewBag.Title = "Details";   
}

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <a href="/FuelPrices/Edit/@Model.Id">
                         Edit <span class="fw-300"><i>Fuel Price</i></span>
                    </a>
                </h2>

            </div>
            <div class="panel-container show">
                <div class="panel-content">

                    <form action="`#" method="post">
                        <input type="hidden" value="@Model.Id" name="Id" id="Id" />
                        <div class="row">
                            <div class="col-md-6 pt-3">
                                <div class="form-group">
                                    <label class="form-label" for="simpleinput">Fuel Price</label>
                                    <input type="text" id="Price" name="Price" value="@Math.Round(Model.Price,2)" class="form-control" readonly placeholder="Fuel Price">
                                </div>
                            </div>

                            <div class="col-md-6 pt-3">
                                <div class="form-group">
                                    <label class="form-label" for="simpleinput">Fuel Price</label>
                                    <input type="text" id="Price" name="Price" value="@Model.Month" class="form-control" readonly placeholder="Fuel Price">
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-12 pt-3">
                                <div class="form-group">
                                    <label class="form-label" for="simpleinput">Fuel Price</label>
                                    <input type="text" id="Price" name="Price" value="@Model.Unit" class="form-control" readonly placeholder="Fuel Price">
                                </div>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>
        $(document).ready(function () {
            $("#MasterMenu").attr("aria-expanded", "true");
            $('#MasterUl').css('display', 'block');
            $('#FuelPricesLi').addClass('active');
        });

    </script>

}


