@model IT.Core.ViewModels.CustomerBookingReservedRemaining
@{
    ViewBag.Title = "CustomerBookingReserved";
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";

   
}

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item"><a href="javascript:void(0);">Customer Booking</a></li>

    <li class="breadcrumb-item active">List</li>
    <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
</ol>

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <a class="btn btn-md btn-primary" href="/CustomerBooking/AdminCreate">
                        <i class="fal fa-plus-circle"></i> Request For New <span class="fw-300"><i>Booking</i></span>
                    </a>
                </h2>

            </div>
            <div class="panel-container show">
                <div class="panel-content">

                    @{
                        Html.RenderPartial("~/Views/Shared/PartialView/Booking/BookingList.cshtml");
                    }
                   
                </div>
            </div>
        </div>
    </div>
</div>




