@{
    ViewBag.Title = "Drivers List";
    Layout = ViewBag.LayoutName;
}
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <a class="btn btn-md btn-primary" href="/Driver/Create">
                        <i class="fal fa-plus-circle"></i>  Create New <span class="fw-300"><i>Driver</i></span>
                    </a>
                </h2>

            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <table id="dt-basic-example1" class="table table-bordered table-hover table-striped w-100">
                        <thead class="bg-primary-600">
                            <tr>
                                <th>Name</th>
                                <th>Conatct</th>
                                <th>Email</th>
                                <th>License Expiry</th>
                                <th>Facebook</th>
                                <th>IsActive</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{

    <script src="~/Scripts/CustomScript/FileUploadPreview.js"></script>
    <script>

        $(document).ready(function () {

            $(".IsActive").click(function () {
                if (confirm("Are you sure")) {

                    var act = false;
                    if (this.checked) {
                        act = true;
                    }

                    var Data = JSON.stringify(
                        {
                            IsActive: act,
                            Id: $(this).data("value"),
                        })
                    // alert(Data);
                    ajaxRequest("POST", "/Driver/ChangeStatus", Data, "json").then(function (result) {
                        if (result != "failed") {
                            //console.log(result);
                            window.location.reload();
                        }
                        else {
                            alert('there is some problem');
                        }
                    })
                }
                else {
                    return false;
                }
            });

            $("#dt-basic-example1").DataTable({
                "paging": true,
                "responsive": true,
                "processing": true,
                "searching": true,
                "serverSide": true, // for process server side
                "filter": false, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "/Driver/All",
                    "type": "POST",
                    "datatype": "json"
                },

                "columns": [
                    //{ "data": "Id", "name": "Id", "autoWidth": true },// key for edit delete
                    { "data": "Name", "Name": "Name", "autoWidth": true },
                    { "data": "Contact", "name": "Contact", "autoWidth": true },
                    { "data": "Email", "name": "Email", "autoWidth": true },
                    { "data": "LicenseExpiry", "name": "LicenseExpiry", "autoWidth": true },
                    { "data": "Facebook", "name": "Facebook", "autoWidth": true },
                    {
                        render: function (data, type, row) {
                            if (row.IsActive == true) {
                                return '<div class="switchToggle"><input onclick="ChangeStatus(' + row.Id + ',' + false + ');" IsActive type="checkbox" data-value="' + row.Id + '" id="' + row.Id + '" checked><label for="' + row.Id + '">Toggle</label></div>'
                            }
                            else {
                                return '<div class="switchToggle"><input type="checkbox" onclick="ChangeStatus(' + row.Id + ',' + true + ');" class="IsActive" data-value="' + row.Id + '" id="' + row.Id + '"><label for="' + row.Id + '">Toggle</label></div>'
                            }
                        }
                    },
                    {
                        render: function (data, type, row) {
                            return '<div class="pull-right"><button  class="btn btn-primary btn-sm" data-id="Id" onclick="Edit(' + row.Id + ')"><i class="fal fa-pencil"></i></button>  <button  class="btn btn-primary btn-sm" data-id="Id" onclick="Details(' + row.Id + ')"><i class="fal fa-eye"></i></button>'
                        }
                    }
                ]
            });

        });

        function ChangeStatus(Id, value) {

            if (confirm("Are you sure")) {

                var act = value;

                var Data = JSON.stringify(
                    {
                        IsActive: act,
                        Id: Id,
                    })
                // alert(Data);
                ajaxRequest("POST", "/Driver/ChangeStatus", Data, "json").then(function (result) {
                    if (result != "failed") {
                        $('#dt-basic-example1').DataTable().ajax.reload();
                    }
                    else {
                        alert('there is some problem');
                    }
                })
            }
            else {
                $('#dt-basic-example1').DataTable().ajax.reload();
            }
        }

    </script>

    <script>
        $(document).ready(function () {
            $("#CustomerDriverMenu").attr("aria-expanded", "true");
            $('#CustomerDriverUl').css('display', 'block');
            $('#CustomerDriverLi').addClass('active');
        });

    </script>

}