<!-- Modal center -->
<div class="modal fade" id="BillModel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    LPO Number
                    <small class="m-0 text-muted">
                        Please Select LPO Number
                    </small>
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">

                    <div class="chosen-select-act fm-cmp-mg">
                        <select name="LPONumber" class="chosen form-control" data-placeholder="Choose a lPO NO..." id="LPONumber">
                            @foreach (var lpo in ViewBag.LPO)
                            {
                                <option value="@lpo.Id">@lpo.PONumber</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="CreateBillFromLPO" class="btn btn-primary">Select LPO</button>
                <button type="button" id="CreateBillDirect" class="btn btn-primary">Create Direct Bill</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal center Large -->
<!-- Modal center -->
<div class="modal fade" id="BillModel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    LPO Number
                    <small class="m-0 text-muted">
                        Please Select LPO Number
                    </small>
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">

                    <div class="chosen-select-act fm-cmp-mg">
                        <select name="LPONumber" class="chosen form-control" data-placeholder="Choose a lPO NO..." id="LPONumber">
                            @foreach (var lpo in ViewBag.LPO)
                            {
                                <option value="@lpo.Id">@lpo.PONumber</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="CreateBillFromLPO" class="btn btn-primary">Select LPO</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal center Large -->

<div class="modal fade" id="ModelDeleteBill" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h3>Are you sure ?</h3><br />
                <h5>You want to delete this record </h5>
            </div>
            <hr />
            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="DeleteBill">Yes! Delete</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No! Cancel</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="BillId" />




