@model List<IT.Core.ViewModels.StateViewModel>
@{
    ViewBag.Title = "AW Fuel - All states";
  
    List<IT.Core.ViewModels.StateViewModel> stateViewModels = new List<IT.Core.ViewModels.StateViewModel>();
    stateViewModels = Model as List<IT.Core.ViewModels.StateViewModel>;
}

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <a class="btn btn-md btn-primary" href="/Country/AddUpdateState">
                        <i class="fal fa-plus-circle"></i>  Create New <span class="fw-300"><i>State</i></span>
                    </a>
                </h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <!--      <div class="panel-tag">
                                <p>Drivers Base Information</p>
                            </div>-->
                    <!-- datatable start -->
                    <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100">
                        <thead class="bg-primary-600">
                            <tr>

                                <th>State Name </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in stateViewModels)
                            {
                                <tr>

                                    <td>@item.States</td>

                                    <td>
                                        <form action="/Country/EditState" method="post">
                                            <input type="hidden" name="Id" value="@item.Id" />
                                            <input type="hidden" name="Name" value="@item.States" />
                                            <input type="hidden" name="CountryId" value="@item.CountryId" />

                                            <button type="submit" class="btn btn-sm"><i class="fal fa-edit"></i></button>
                                        </form>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{

    <script>
        $(document).ready(function () {
            $("#MasterMenu").attr("aria-expanded", "true");
            $('#MasterUl').css('display', 'block');
            $('#StateLi').addClass('active');
        });

    </script>

}
