@using System.Web.Mvc.Html

@model List<IT.Core.ViewModels.VehicleViewModel>
@{
    ViewBag.Title = "Vehicles List";
    Layout = ViewBag.LayoutName;

    List<IT.Core.ViewModels.VehicleViewModel> VehicleViewModels = new List<IT.Core.ViewModels.VehicleViewModel>();
    VehicleViewModels = Model as List<IT.Core.ViewModels.VehicleViewModel>;
}

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <a class="btn btn-md btn-primary" href="/Vehicle/Create">
                        <i class="fal fa-plus-circle"></i>  Add New <span class="fw-300"><i>Vehicle</i></span>
                    </a>
                </h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <table id="dt-basic-example1" class="table table-bordered table-hover table-striped w-100">
                        <thead class="bg-primary-600">
                            <tr>
                                <th>Name</th>
                                <th>TraficPlateNumber</th>
                                <th>Place of Issue</th>
                                <th>TC Number</th>
                                <th>Model</th>
                                <th>Mulkia Expiry</th>
                                <th>Insurance Expiry</th>
                                <th>IsActive</th>
                                <th>Actions</th>

                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
</div>

<form id="VehicleForm" method="post" style="display:none">
    <input type="hidden" id="Id" value="0" name="id" />
    <input type="hidden" id="CompanyId" value="0" name="CompId" />
</form>

@section scripts{
    
    <script src="~/Scripts/CustomScript/FileUploadPreview.js"></script>

    <script>
        $(document).ready(function () {
            $("#CustomerVehicleMenu").attr("aria-expanded", "true");
            $('#CustomerVehicleUl').css('display', 'block');
            $('#CustomerVehicleLi').addClass('active');

            $("#dt-basic-example1").DataTable({
                "paging": true,
                "responsive": true,
                "processing": true,
                "searching": true,
                "serverSide": true, // for process server side
                "filter": false, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "/Vehicle/All",
                    "type": "POST",
                    "datatype": "json"
                },

                "columns": [
                    //{ "data": "Id", "name": "Id", "autoWidth": true },// key for edit delete
                    { "data": "VehicleTypeName", "VehicleTypeName": "Name", "autoWidth": true },
                    { "data": "TraficPlateNumber", "name": "TraficPlateNumber", "autoWidth": true },
                    { "data": "PlaceofIssue", "name": "PlaceofIssue", "autoWidth": true },
                    { "data": "TCNumber", "name": "TCNumber", "autoWidth": true },
                    { "data": "Model", "name": "Model", "autoWidth": true },
                    { "data": "MulkiaExpiry", "name": "MulkiaExpiry", "autoWidth": true },
                    { "data": "InsuranceExpiry", "name": "InsuranceExpiry", "autoWidth": true },
                    {
                        render: function (data, type, row) {
                            if (row.IsActive == true) {
                                return '<div class="switchToggle"><input onclick="ChangeStatus(' + row.Id + ',' + false + ');" IsActive type="checkbox" data-value="' + row.Id + '" id="' + row.Id + '" checked><label for="' + row.Id + '">Toggle</label></div>'
                            }
                            else {
                                return '<div class="switchToggle"><input type="checkbox" onclick="ChangeStatus(' + row.Id + ',' + true + ');" class="IsActive" data-value="' + row.Id + '" id="' + row.Id + '"><label for="' + row.Id + '">Toggle</label></div>'
                            }

                        }
                    },
                    {
                        render: function (data, type, row) {
                            return '<div class="pull-right"><button  class="btn btn-primary btn-sm" data-id="Id" onclick="Edit(' + row.Id + ')"><i class="fal fa-pencil"></i></button>  <button  class="btn btn-primary btn-sm" data-id="Id" onclick="Details(' + row.Id + ')"><i class="fal fa-eye"></i></button>'
                        }
                    }
                ]
            });
        });
        
        function Edit(Id) {
            $('#Id').val(Id);
            $('#VehicleForm').attr('action', "/Vehicle/Edit").submit();
        }

        function Details(Id) {
            $('#Id').val(Id);
            $('#VehicleForm').attr('action', "/Vehicle/Details").submit();
        }

        function ChangeStatus(Id, value) {
            
            var answer = confirm("Are you sure");
            if (answer) {
                var act = value;               
                var Data = JSON.stringify(
                    {
                        IsActive: act,
                        Id: Id,
                    })
                // alert(Data);
                ajaxRequest("POST", "/Vehicle/ChangeStatus", Data, "json").then(function (result) {
                    if (result != "failed") {
                        $("#dt-basic-example1").ajax.reload();
                    }
                    else {
                        $("#dt-basic-example1").ajax.reload();
                    }
                })
            }
            else {
                alert();
                $("#dt-basic-example1").ajax().reload();
            }
        }
    </script>
}