
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div class="dzsparallaxer auto-init" data-options='{   direction: "reverse"}' style="height: 450px;">
    <div class="divimage dzsparallaxer--target cover_img" >
    </div>
    <div class=" parallax-text center-it page-title text-center">
        <h1 class="text-uppercase">WE SUPPLY DIESEL TO ANY DESTINATION WITHEN UAE.</h1>

    </div>
</div><!--end page header-->
<div class="container">
    <div class="space-90"></div>
    <div class="row align-items-center margin-b-50">

        <div class="col-md-5 mr-auto">
            <img src="~/assets/site/images/banner3.jpg" alt="" class="img-fluid">
        </div>

        <div class="col-md-7">
            <h4>About AWfuel </h4>
            <p>
                Abrahimi wahid Fuel Trading L L C is proud to serve our clients as an independent corporation established in and launched into global markets from Abu Dhabi and Dubai, in the United Arab Emirates.
            </p>
            <p>
                Abrahimi Wahid Fuel Trading LLC operates in diesel fuel supply and transportation all over the United Arab Emirates . Our services to our valued customers guarantee efficiency. punctuality & reliability.
            </p>
            <p>
                We serviced over 60 customers in the UAE, most of which are regular. Supplying diesel to any destination within the UAE, we prioritize customer satisfaction throughout.
            </p>
        </div>


    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="margin-b-20">Our Mission</h3>
            <p class="margin-b-20">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud officia deserunt mollit exercitation.
            </p>

          
        </div>
        <div class="col-md-6">
            Explore our Products. undoubtedly the largest Fuel & Oil Trading in all refined petroleum Products in UAE.
            <br /> <br /> <br />
            <a href="/Home/Contact" class="btn btn-primary btn-lg">CONTACT</a>
        </div>
    </div>
    <div class="space-60"></div>

</div>


