
@{
    ViewBag.Title = "BulkStorage";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";


    IT.Core.ViewModels.ServiceViewModel serviceViewModel = new IT.Core.ViewModels.ServiceViewModel();
    serviceViewModel = ViewBag.serviceViewModel as IT.Core.ViewModels.ServiceViewModel;
}


<div class="dzsparallaxer auto-init" data-options='{   direction: "reverse"}' style="height: 300px;">

    <div class="divimage dzsparallaxer--target cover_img">
    </div>
    <div class=" parallax-text center-it page-title text-center">
        <h1 class="text-uppercase">Bulk Fuel Storage</h1>

    </div>
</div><!--end page header-->
<div class="container">
    <div class="space-90"></div>
    <div class="row align-items-center margin-b-50">

        <div class="col-md-5 mr-auto">
            <img src="~/assets/site/images/banner3.jpg" alt="" class="img-fluid">
        </div>

        <div class="col-md-7">
          
            <p>
               @serviceViewModel.DescriptionOne
            </p>
        </div>


    </div>
</div>

<div class="cta-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h3>@serviceViewModel.Excerpt</h3>
            </div>
            <div class="col-sm-4">
                <a href="/User/Registration" class="btn btn-rounded btn-white-border">Sign Up Free</a>
            </div>
        </div>
    </div>
</div>

