
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}


<section class="hero-video">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h3 class="display-4">AW FUEL TRADING</h3>
                <p class="lead margin-b-30">
                    We know better to serve you With Relaible delivery
                </p>
                <div class="buttons">
                    <a href="#" class="btn btn-xl btn-primary">About Us</a>
                    <a href="/User/Registration" class="btn btn-xl btn-white-border">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
    <div class="video-image">

        <div class="video-play-btn">
            <img src="~/assets/site/images/mockup2.png" alt="" class="img-fluid">
            <!-- <a href="https://www.youtube.com/watch?v=9gu2aJ-KrQI&list=PLO7-VO1D0_6N4wRzwxQ-ebXqy69M5mWgb&index=7" class="video-popup">
                <i class="ion-ios-play"></i>
            </a> -->
        </div>
    </div>

</section>
<!--intro section end-->


<section class="features-section border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 margin-b-30">
                <div class="feature-box-center text-center">

                    <h4 class="text-capitalize">WELCOME TO ABRAHIMI WAHID FUEL TRADING</h4>
                    <p>
                        Abrahimi Wahid Fuel Trading LLC operates in diesel fuel supply and transportation all over the United Arab Emirates . Our services to our valued customers guarantee efficiency. punctuality & reliability.

                        We serviced over 60 customers in the UAE, most of which are regular. Supplying diesel to any destination within the UAE, we prioritize customer satisfaction throughout.
                    </p>
                </div>
            </div><!--/col-->

        </div>
    </div>
</section><!--end features section-->

<section class="showcase-section bg-faded">
    <div class="space-90"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6 ml-auto margin-b-30">
                <img src="~/assets/site/images/mobile-app-2.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-5 col-md-6 mr-auto margin-b-30">
                <h3>
                    A fully featured & well designed That works perfectly.
                </h3>
                <p class="margin-b-20">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pellentesque efficitur turpis, vitae dictum dolor tristique in. Mauris tristique id urna at cursus. Aliquam maximus, ligula nec commodo maximus, felis metus sagittis ligula, lobortis consequat ante risus ut elit.
                </p>
                <div class="app-buttons">
                    <a href="#"><img src="~/assets/site/images/app-store.png" alt=""></a>
                    <a href="#"><img src="~/assets/site/images/play-store.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="space-30"></div>
</section><!--end showcase section-->




<section class="features-bg">
    <div class="container">
        <div class="center-title">
            <h2>Why choose Aw fuel</h2>
            <p>Over 5000 Customers in UAE</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="feature-icon-left clearfix">
                    <div class="icon">
                        <i class="ion-iphone"></i>
                    </div>
                    <div class="content">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
                        </p>
                    </div>
                </div><!--/feature icon-->
                <div class="feature-icon-left clearfix">
                    <div class="icon">
                        <i class="ion-iphone"></i>
                    </div>
                    <div class="content">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
                        </p>
                    </div>
                </div><!--/feature icon-->
                <div class="feature-icon-left clearfix">
                    <div class="icon">
                        <i class="ion-iphone"></i>
                    </div>
                    <div class="content">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
                        </p>
                    </div>
                </div><!--/feature icon-->
            </div>
            <div class="col-md-6">
                <div class="feature-icon-left clearfix">
                    <div class="icon">
                        <i class="ion-iphone"></i>
                    </div>
                    <div class="content">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
                        </p>
                    </div>
                </div><!--/feature icon-->
                <div class="feature-icon-left clearfix">
                    <div class="icon">
                        <i class="ion-iphone"></i>
                    </div>
                    <div class="content">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
                        </p>
                    </div>
                </div><!--/feature icon-->
                <div class="feature-icon-left clearfix">
                    <div class="icon">
                        <i class="ion-iphone"></i>
                    </div>
                    <div class="content">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
                        </p>
                    </div>
                </div><!--/feature icon-->
            </div>
        </div>
    </div>
</section>


<section class="steps">
    <div class="space-90"></div>
    <div class="container">
        <div class="center-title">
            <h2>Easy to get started. 3 Step process.</h2>
            <p>Take a look what the people think about our product</p>
        </div>
        <div class="row">
            <div class="col-md-4 margin-b-30">
                <div class="step-box">
                    <h1>01</h1>
                    <h4>Create Account.</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pellentesque efficitur turpis, vitae dictum dolor tristique in.
                    </p>
                </div>
            </div>
            <div class="col-md-4 margin-b-30">
                <div class="step-box">
                    <h1>02</h1>
                    <h4>Select Plan.</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pellentesque efficitur turpis, vitae dictum dolor tristique in.
                    </p>
                </div>
            </div>
            <div class="col-md-4 margin-b-30">
                <div class="step-box">
                    <h1>03</h1>
                    <h4>Assign Tasks.</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pellentesque efficitur turpis, vitae dictum dolor tristique in.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="space-60"></div>
</section><!--end steps-->
