@model IT.Core.ViewModels.SearchViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}


<section class="hero-video">
    <div class="container" style="margin-top:-80px">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h3 class="display-4">AW FUEL TRADING</h3>
                <p style="font-size:16px" class="lead margin-b-30">
                    We know better to serve you With lower fuel prices and Relaible deliveries.
                    <br />Clever Combination - clever - cost - saving
                    <br />24 hours service, 7 days a week diesel fuel delivery.
                </p>
                <div class="app-buttons">
                    <a href="https://apps.apple.com/us/app/awfuel/id1483312238" target="_blank"><img src="~/assets/site/images/app-store.png" alt=""></a>
                    <a href="https://play.google.com/store/apps/details?id=com.itmolen.awfuel" target="_blank"><img src="~/assets/site/images/play-store.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>

    <div class="video-image">

        <div class="video-play-btn">
            <img src="~/assets/site/images/mockup4.png" alt="" class="img-fluid">
            <!-- <a href="https://www.youtube.com/watch?v=9gu2aJ-KrQI&list=PLO7-VO1D0_6N4wRzwxQ-ebXqy69M5mWgb&index=7" class="video-popup">
                <i class="ion-ios-play"></i>
            </a> -->
        </div>
    </div>

</section>
<!--intro section end-->


<section id="About" class="features-section border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 margin-b-30">
                <div class="feature-box-center ">

                    <h1 class="text-capitalize">WELCOME TO ABRAHIMI WAHID FUEL TRADING</h1>
                    <p>

                        AW FUEL are Trusted by Businesses across the UAE to Supply Diesel with Same Day and Next Day Deliveries available Nationwide throughout the United Arab Emirates.
                        It is the standard product used in all diesel-engine vehicles including lorries, trucks, vans and cars etc...
                    </p>
                    <p>
                        <b class="font-weight-bold">We supply 10 PPM Diesel</b> <br />

                        For the latest bulk diesel prices, please call us today on <a href="tel:0557383866">055 73 83 866</a> <br />
                       

                        </p>
                    <a href="/Home/About">Read More</a>
                   
                </div>
            </div><!--/col-->

        </div>
    </div>
</section><!--end features section-->

<section id="whyChooseUs" class="showcase-section bg-faded">
    <div class="space-90"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-5 ml-auto margin-b-30">
                <img src="~/assets/site/images/mobile-app-5.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-7 col-md-7 mr-auto margin-b-30">
                <h2>
                    
                    Why Choose Us?
                </h2>
                <p>
                    <b class="font-weight-bold">Benefits of choosing AW FUEL for your bulk diesel supply </b> <br />
                    •	True nationwide coverage from a diesel supply network spanning the entire UAE<br />
                    •	Telephones manned 24/7, 365 days a year with just one number to call <a href="tel:0557383866">055 73 83 866</a><br />
                    •	Order quantities of diesel from 1,00-36,000-litres<br />
                    •	You’ll gain access to our free fuel management service, where we’ll shoulder the burden of managing your future red diesel deliveries.<br />
                    •	A full range of diesel storage tanks, pumping and dispensing products, environmental control products and technical advice are available<br />
                    Ready to find out why we’re a trusted diesel fuel supplier to businesses across the UAE? <br /> Call us today on <a href="tel:0557383866">055 73 83 866</a> for the latest diesel prices

                </p>
                <!-- <div class="app-buttons">
        <a href="#"><img src="~/assets/site/images/app-store.png" alt=""></a>
        <a href="#"><img src="~/assets/site/images/play-store.png" alt=""></a>
    </div>-->
            </div>
        </div>
    </div>
    <div class="space-30"></div>
</section><!--end showcase section-->




<section id="Services" class="features-bg">
    <div class="container">
        <div class="center-title">
            <h2>Our Services & Products</h2>
           
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="feature-icon-left clearfix">
                   
                    <div class="content">
                        <h4>Trading Products</h4>
                        <p>
                            Gasoil /Diesel 10PPM (ADNOC/BAPCO & OTHERS)
                            <br />
                            MGO ( Marine gas oil)
                            <br />
                            MDO (Marine Diesel Oil )
                            <br />
                            FUEL OIL
                            <br />
                            LUBRICANTS & GREASE

                            <br />
                            <a href="/Home/Products">Read More...</a>
                        </p>
                    </div>
                </div><!--/feature icon-->


            </div>
            <div class="col-md-4">
                <div class="feature-icon-left clearfix">
                   
                    <div class="content">
                        <h4>Bulk Fuel Storage</h4>
                        <p>
                            Abrahimi Wahid Fuel Trading LLC, our warehousing solutions and management services are important for our supply chain network. With over 2000 sq ft. 
                            <br />
                            <a href="Home/BulkStorage">Read More...</a>
                        </p>
                    </div>
                </div><!--/feature icon-->
            </div>

            <div class="col-md-4">
                <div class="feature-icon-left clearfix">
                  
                    <div class="content">
                        <h4>Fuel Transportation</h4>
                        <p>
                            Abrahimi Wahid Fuel Trading LLC is a trucking company dedicated to the safe transportation of liquid petroleum products in tanker trailers throughout the united arab emirates.<br />
                            <a href="/Home/FuelTransportation">Read More...</a>
                        </p>
                    </div>
                </div><!--/feature icon-->


            </div>

        </div>
    </div>
</section>


<section class="steps">
    <div class="space-90"></div>
    <div class="container">
        <div class="center-title">
            <h2>Easy to get started. 3 Step process.</h2>
           
        </div>
        <div class="row">
            <div class="col-md-4 margin-b-30">
                <div class="step-box">
                    <h1>01</h1>
                    <h4>Create an Account.</h4>
                    <p>
                        Create an account online through web or mobile application are call our customer service representative on phone number <a href="tel:0557383866">055 73 83 866</a> to help you create one account while your are waiting on phone call. 
                    </p>
                </div>
            </div>
            <div class="col-md-4 margin-b-30">
                <div class="step-box">
                    <h1>02</h1>
                    <h4>Book Quantity</h4>
                    <p>
                        You can reserve or book Quantities online through web or mobile application are call our customer service representative on phone number <br /> <a href="tel:0557383866">055 73 83 866</a> to help you reserve or book Quantities  while your are waiting on phone call.
                    </p>
                </div>
            </div>
            <div class="col-md-4 margin-b-30">
                <div class="step-box">
                    <h1>03</h1>
                    <h4>Request Delivery</h4>
                    <p>
                        You can Request Deliveries online through web or mobile application are call our customer service representative on phone number  <a href="tel:0557383866">055 73 83 866</a> to help you place Request Deliveries while your are waiting on phone call.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="space-60"></div>
</section><!--end steps-->
