@{
    ViewBag.Title = "Policy";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";

    IT.Core.ViewModels.PrivatePolicyViewModel privatePolicyViewModel = new IT.Core.ViewModels.PrivatePolicyViewModel();
    privatePolicyViewModel = ViewBag.privatePolicyViewModel as IT.Core.ViewModels.PrivatePolicyViewModel;
}


<div class="dzsparallaxer auto-init" data-options='{   direction: "reverse"}' style="height: 300px;">

    <div class="divimage dzsparallaxer--target cover_img">
    </div>
    <div class=" parallax-text center-it page-title text-center">
        <h1 class="text-uppercase"><hr style="width:80px; background:white" />Privacy Policy <br /><span style="font-size:14px"><p>Effective Date: @privatePolicyViewModel.EffectiveDates</p></span></h1>
        
    </div>

</div><!--end page header-->
<div class="container">
    <div class="space-90"></div>
    <div class="row align-items-center margin-b-50">

    

        @foreach (var item in privatePolicyViewModel.privacyPolicyDetailsViewModels)
        {

            <div class="col-md-12 mb-5">
                <h3>
                    @item.Heading
                </h3>
                <p>
                    @item.Details
                </p>
            </div>

        }



    </div>
</div>


