
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";
}
<link href="~/Content/css/Common/LPOInvoiceTable.css" rel="stylesheet" />
<link href="~/Content/css/Common/Common-LPO.css" rel="stylesheet" />

<main id="js-page-content" role="main" class="page-content">
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        Bill <span class="fw-300">Create</span>
                    </h2>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="data-table-list">
                                    <div class="basic-tb-hd">
                                        <div class="row">
                                            <div class="col-md-11">
                                                <h2></h2>
                                            </div>
                                            <div class="col-md-1">
                                                @*<button class="btn btn-primary btn-sm" id="createNewEmployee"><i class="fa fa-plus"></i> New</button>*@
                                            </div>
                                        </div>
                                        @Html.Partial("~/Views/Shared/LPOInvoieDetailsPartialViews/_LPOInvoiceVenderPartialView.cshtml")
                                    </div>
                                    <div>
                                        @Html.Partial("~/Views/Shared/Invoice_LPO PartialView/_MainTableRowPartialView.cshtml")
                                        @Html.Partial("~/Views/Shared/Invoice_LPO PartialView/_FooterTotalPartialView.cshtml")
                                    </div>
                                    <p></p>
                                    @Html.Partial("~/Views/Shared/LPOInvoieDetailsPartialViews/_BillButtonPartialView.cshtml")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<input type="hidden" class="Venders"/>
<input type="hidden" id="SendByEmail" />
<input type="hidden" id="Flage"  value="No"/>

@section Scripts{
    <script>

        $(document).ready(function () {

            $('#VenderId').change(function () {

                var Id = $(this).val();
                if (Id > 0) {
                    $('.Venders').val(Id);
                    ajaxRequest("GET", "/Vender/Edit/" + Id, "", "json").then(function (result) {
                        if (result != "Falied") {
                            console.log(result);
                            $('#VenderAddress').text(result.Address);
                            $('#VenderPhone').text(result.LandLine);
                            $('#VenderCell').text(result.Mobile);
                            $('#VenderEmail').text(result.Email);
                            $('#VenderVAT').text(result.TRN);
                        }
                    })
                }
                else {
                    return true;
                }
            })

        })

        $('#BillSave').click(function () {

            if (IsBillValid()) {
                if (ValidLPO()) {
                    localStorage.clear();
                    CreateLPOInvoice("/Bill/Create");
                }
            }
        });
        
        function CreateLPOInvoice(Url) {
            if (1 == 1) {

                var list = [], orderItem, CurrentRow;
                var formData = new FormData();

                $('#orderdetailsitems .tbodyGood tr').each(function () {
                    CurrentRow = $(this).closest("tr");
                    if (validateRow(CurrentRow)) {
                        if (1 == 1) {
                            orderItem = {
                                ItemId: parseInt($(this).find('.product').val()),
                                Description: $(this).find('.Description').val(),
                                UnitId: parseInt($(this).find('.Unit').val()),
                                UnitPrice: parseFloat($(this).find('.rate').val()),
                                Qunatity: parseInt($(this).find('.quantity').val()),
                                Total: parseFloat($(this).find('.RowSubTotal').val()),
                                VAT: parseInt($(this).find('.vat').val()),
                                SubTotal: parseInt($(this).find('.rownettotal').val()),
                            }
                            list.push(orderItem);
                        }
                    }
                });


                if (list.length == 0) {
                    $('#SubTotal').text('');
                    $('#TotalVAT').text('');
                    $('#gtotal').text('');
                }
                var empObj = {
                    PONumber: $('#PONumber').val(),
                    LPOId: $('#LPOId').val(),
                    RefrenceNumber: $('#RefrenceNumber').val(),
                    BillNumber: $('#BillNumbers').val(),
                    FromDate: $('#FromDate').val(),
                    DueDate: $('#DueDate').val(),
                    Total: $('#SubTotal').text(),
                    VAT: $('#TotalVAT').text(),
                    GrandTotal: $('#gtotal').text(),
                    TermCondition: $('#TermCondition').val(),
                    CustomerNote: $('#CustomerNote').val(),
                    VenderId: $('.Venders').val(),
                };
                for (var key in empObj) {
                    formData.append(key, empObj[key]);
                }

                for (var i = 0; i < list.length; i++) {
                    formData.append('lPOInvoiceDetailsList[' + i + '][ItemId]', list[i].ItemId)
                    formData.append('lPOInvoiceDetailsList[' + i + '][Qunatity]', list[i].Qunatity)
                    formData.append('lPOInvoiceDetailsList[' + i + '][UnitPrice]', list[i].UnitPrice)
                    formData.append('lPOInvoiceDetailsList[' + i + '][Total]', list[i].Total)
                    formData.append('lPOInvoiceDetailsList[' + i + '][VAT]', list[i].VAT)
                    formData.append('lPOInvoiceDetailsList[' + i + '][SubTotal]', list[i].SubTotal)
                    formData.append('lPOInvoiceDetailsList[' + i + '][Description]', list[i].Description)
                    formData.append('lPOInvoiceDetailsList[' + i + '][UnitId]', list[i].UnitId)
                }

                if (list.length > 0) {
                    $.ajax({
                        url: Url,
                        type: "POST",
                        data: formData,
                        dataType: 'json',
                        contentType: false,
                        processData: false,
                        success: function (result) {
                            if (result != "Failed") {
                                list = [];
                                //sucessAdd();
                                //response(result, btnName, Message, returnulr, F)
                                var SendEmail = localStorage.getItem("SendByEmail");

                                if (SendEmail != null) {
                                    localStorage.setItem("Id", result);
                                    window.location.href = "/Email";
                                }
                                else {
                                    window.location.href = "/Bill/Details/" + result;
                                }
                            }
                            else {
                                alert(result);
                            }
                        },
                        error: function (errormessage) {
                            alert(errormessage);
                        }
                    });
                }
                else {

                    alert('Please Add item to list');
                }
            }
            else {

                swal({
                    title: 'Graag uw invoer controleren!',
                    text: 'Graag contact slecteren',
                    type: 'warning'
                });
            }
        }

        function IsBillValid() {

            var IsValid = true;

            if ($('#RefrenceNumber').val().trim() == "") {
                $('#RefrenceNumber').css('border-color', 'Red');
                IsValid = false;
            }
            else if ($('#PONumber').text() == "") {
                $('#PONumber').css('border-color', 'Red');
                IsValid = false;
            }
            else if ($('#FromDate').val().trim() == "03/19/2018") {
                $('#FromDate').css('border-color', '1px solid #BDC7BC');
                IsValid = false;
                alert('select From Date');
            }
            else if ($('#DueDate').val().trim() == "03/19/2018") {
                $('#DueDate').css('border-color', '1px solid #BDC7BC');
                IsValid = false;
                alert('select Due Date');
            }
            else if ($('#BillNumbers').val() == "") {
                $('#BillNumbers').css('border-color', 'red');
                IsValid = false;
            }

            return IsValid;
        }

    </script>

    <script>
        $(document).ready(function () {
            //alert();
            $("#PurchaseMenu").attr("aria-expanded", "true");
            $('#PurchaseUl').css('display', 'block');
            $('#PurchaseBillLi').addClass('active');
        });

    </script>

    <script src="~/Scripts/Common-Scripts/LOP-Invoice.js"></script>
}
