
@{
    ViewBag.Title = "AW Fuel - Bills List";
}

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item"><a href="javascript:void(0);">Bills</a></li>
    <li class="breadcrumb-item active">Index</li>
    <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
</ol>


<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <a id="createNewBill" class="btn btn-md btn-primary" style="cursor:pointer; color:white">
                        <i class="fal fa-plus-circle"></i>  Create New <span class="fw-300"><i>Bill</i></span>
                    </a>
                </h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <table id="BillTable" class="table table-bordered table-hover table-striped w-100">
                        <thead class="bg-primary-600">
                            <tr>
                                <th>Vender</th>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Unit</th>
                                <th>Reference</th>
                                <th>From Date</th>
                                <th>Due Date</th>
                                <th>Amount</th>
                                <th>VAT</th>
                                <th>Grand Amount</th>
                                <th>Oprater</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



@Html.Partial("~/Views/Shared/Bill/_BillPartialView.cshtml")

@section Scripts{

    <script>

        $('#createNewBill').click(function () {

            $('#BillModel').modal('show');

            //  window.location.href = "/Invoice-Create";
        });

        $('#CreateBillFromLPO').click(function () {

            if ($('#LPONumber').val() > 0) {

                var Id = $('#LPONumber').val();

                window.location.href = "/Bill/Create/" + Id;
            }
            else {
                alert('Please select LPO Number first');
            }
        });

        $('#CreateBillDirect').click(function () {
            window.location.href = "/Bill/Create/0";
        });

        $(document).ready(function () {
            BindDataTable();
        });

        var BindDataTable = function (response) {
            $("#BillTable").DataTable({
                "paging": true,
                "responsive": true,
                "processing": true,
                "searching": true,
                "serverSide": true, // for process server side
                "filter": false, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "/Bill/GetAll",
                    "type": "POST",
                    "datatype": "json"
                },

                "columns": [
                    //{ "data": "Id", "name": "Id", "autoWidth": true },// key for edit delete
                    { "data": "Name", "Name": "Name", "autoWidth": true },
                    { "data": "Product", "name": "Product", "autoWidth": true },
                    { "data": "TotalQuantity", "name": "TotalQuantity", "autoWidth": true },
                    { "data": "UnitName", "name": "UnitName", "autoWidth": true },
                    { "data": "RefrenceNumber", "name": "RefrenceNumber", "autoWidth": true },
                    { "data": "FDate", "name": "FDate", "autoWidth": true },
                    { "data": "DDate", "name": "DDate", "autoWidth": true },
                    { "data": "Total", "name": "Total", "autoWidth": true },
                    { "data": "VAT", "name": "VAT", "autoWidth": true },
                    { "data": "GrandTotal", "name": "GrandTotal", "autoWidth": true },
                    { "data": "UserName", "name": "UserName", "autoWidth": true },
                    //{
                    //    render: function (data, type, row) {
                    //        if (row.IsActive == true) {
                    //            return '<div class="switchToggle"><input onclick="ChangeStatus(' + row.Id + ',' + false + ');" IsActive type="checkbox" data-value="' + row.Id + '" id="' + row.Id + '" checked><label for="' + row.Id + '">Toggle</label></div>'
                    //        }
                    //        else {
                    //            return '<div class="switchToggle"><input type="checkbox" onclick="ChangeStatus(' + row.Id + ',' + true + ');" class="IsActive" data-value="' + row.Id + '" id="' + row.Id + '"><label for="' + row.Id + '">Toggle</label></div>'
                    //        }
                    //    }
                    //},
                    {
                        render: function (data, type, row) {
                            return '<div class="pull-right"><button  class="btn btn-primary btn-sm" data-id="Id" onclick="EditBill(' + row.Id + ')"><i class="fal fa-pencil"></i></button>  <button  class="btn btn-primary btn-sm" data-id="Id" onclick="ViewBill(' + row.Id + ')"><i class="fal fa-eye"></i></button>'
                        }
                    }
                ]
            });


            //$('#BillTable').DataTable({
            //    responsive: true,
            //    "bRetrieve": true,
            //    "bServerSide": true,
            //    "processing": true,
            //    "searching": true,
            //    "serverSide": true,
            //    "paging": true,
            //    "sAjaxSource": "/Bill/GetAll",
            //    "fnServerData": function (sSource, aoData, fnCallback) {
            //        $.ajax({
            //            type: "Get",
            //            data: aoData,
            //            url: sSource,
            //            success: fnCallback
            //        })
            //    },
            //    "aoColumns": [
            //        { "mData": "Name" },
            //        { "mData": "Product" },
            //        { "mData": "TotalQuantity" },
            //        { "mData": "UnitName" },
            //        { "mData": "RefrenceNumber" },
            //        { "mData": "FDate" },
            //        { "mData": "DDate" },
            //        { "mData": "Total" },
            //        { "mData": "VAT" },
            //        { "mData": "GrandTotal" },
            //        { "mData": "UserName" },
            //        {
            //            "mData": "Id",
            //            "render": function (Id, type, full, meta) {
            //                return '<a href="#" onclick="ViewBill(' + Id + ')"><i class="fal fa-eye"></i></a>' + ' | ' + '<a href="#" onclick="EditBill(' + Id + ')"><i class="fal fa-pencil"></i></a>'
            //            }
            //        },
            //    ]
            //})
        }


        function ViewBill(Id) {
            window.location.href = "/Bill/Details/" + Id;
        }


        function EditBill(Id) {
            window.location.href = "/Bill/Edit/" + Id;
        }

        $('#DeleteBill').click(function () {

            var Id = $('#BillId').val();

            ajaxRequest("POST", "/Bill/Delete/" + Id, "", "json").then(function (result) {

                if (result != "Failed") {
                    sucessDelete();
                    $('#BillTable').DataTable().ajax.reload();
                    $('#ModelDeleteBill').modal('hide');
                }
                else {
                    alert('Opration falied');
                }
            });

        });
    </script>

    <script>
        $(document).ready(function () {
            //alert();
            $("#PurchaseMenu").attr("aria-expanded", "true");
            $('#PurchaseUl').css('display', 'block');
            $('#PurchaseBillLi').addClass('active');
        });

    </script>

}