@model IT.Core.ViewModels.ProductUnitViewModel
@{
    ViewBag.Title = "Product Unit - Details";
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";
}

<main id="js-page-content" role="main" class="page-content">


    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        Product Unit <span class="fw-300">details</span>
                    </h2>

                </div>
                <div class="panel-container show">
                    <div class="panel-content">


                        <form action="/ProductUnit/Create" method="post">
                            <input type="hidden" value="@Model.Id" name="Id" id="Id" />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-label" for="simpleinput">Unit Name</label>
                                        <input type="text" id="Name" name="Name" disabled value="@Model.Name" class="form-control" placeholder="Product Unit Name">
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section scripts{
    <script>
        $(document).ready(function () {
            //alert();
            $("#ProductMenu").attr("aria-expanded", "true");
            $('#ProductUl').css('display', 'block');
            $('#ProductUnitLi').addClass('active');
        });

    </script>

}